
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin:auto
}

.hero {
  height: 300px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../img/AngelsLanding-theraja.jpg");
  background-size: cover;
  background-position: center;
}
/* licensed photo "Flowers on UNESCO" copyright theraja  */

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

nav a{
  padding: 1%,0;
}

h1, h2 {
  text-align:center;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 2px;
}

/* sg: for map 1.31.2021 */
#map-container {
  width: 80%;
}
/* sg: for map 1.31.2021 */
#mapid { height: 180px; }

#fee-title, #fee-description-title, #operating-hours-title, #exception-hours-title {
  font-weight: bold;
}

#park-history {
  color: rgba(41, 109, 75, 0.623);
}

#park-history li:hover {
  color: darkolivegreen;
  cursor: pointer;
}

#park-list li:hover {
  color: darkolivegreen;
  cursor: pointer;
}

/* stephanie added styling 1.30.2021 - to center image */
#park-chosen-container {
  display: block;
  text-align: center;
}

/* stephanie added styling 1.30.2021 - styling of park image appearing after park name */
#park-chosen-container img {
  height: 300px;
  padding: 10px;
}

#webcam-container {
  text-align: center;
}

#campground-link {
  background-color: transparent;
  color: black;
}

#campground-link:hover {
  color: darkolivegreen;
  cursor: pointer;
}

/* vl 1/31: added mediaqueries and merged from css2
/************ Large Devices ************************/
/* Large  devices (screens above Medium size)      */
.card{
  border:1px solid black; 
  min-height:200px;
  max-height:200px;  }


/************ Medium Devices ************************/
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .valign-wrapper {
    display: inline-block;}

    .card{
      border:1px solid black; 
      min-height:200px;
      max-height:200px;      }
    
} 

/************ Small Devices ************************/
@media only screen and (max-width: 414px) {
  

  .card{
    border:1px solid black;
    min-height:200px;
    max-height:200px;
    }
  
} 

