:root {
  --light: #f9eded;
  --light-blue: #e3e7e9;
  --medium-blue: #c0d6e4;
  --dark-blue: #29364f;
  --dark: #181b26;
  --weather-card:rgb(252, 216, 150);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin:auto
}

h1, h2 {
  text-align:center;
}