:root {
  --light: #f9eded;
  --light-blue: #e3e7e9;
  --medium-blue: #c0d6e4;
  --dark-blue: #29364f;
  --dark: #181b26;
  --weather-card:rgb(252, 216, 150);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin:auto
}

.hero {
  height: 300px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../img/AngelsLanding-theraja.jpg");
  background-size: cover;
  background-position: center;
}
/* licensed photo "Flowers on UNESCO" copyright theraja  */

nav a{
  padding: 1%,0;
}

h1, h2 {
  text-align:center;
}

#search-btn {
  border: 2px solid #6aa0f1;
  border-radius: 6px;
  background-color: #0d5cd3;
  color: rgb(236, 232, 232);
  text-align: center;
  height: 50px;
  width: 50px;
}

#park-history {
  color: orange;
}

/* stephanie added 1.30.2021 -- can be deleted if other hover effects added */
#park-history li:hover {
  color: rgb(255, 165, 0, .50);
}

#park-list li:hover {
  color: grey;
}

/* stephanie added styling 1.30.2021 - to center image */
#park-chosen-container {
  display: block;
  text-align: center;
}

/* stephanie added styling 1.30.2021 - styling of park image appearing after park name */
#park-chosen-container img {
  height: 300px;
  padding: 10px;
}



