

/* sg: for map 1.31.2021 */
#map-container {
  width: 95%;
}
/* sg: for map 1.31.2021 */
#mapid { height: 180px; }

#fee-title, #fee-description-title, #operating-hours-title, #exception-hours-title {
  font-weight: bold;
}

/* stephanie added styling 1.30.2021 - to center image */
#park-chosen-container {
  display: block;
  text-align: center;
}

/* stephanie added styling 1.30.2021 - styling of park image appearing after park name */
#park-chosen-container img {
  height: 300px;
  padding: 10px;
}

#webcam-container {
  text-align: center;
}

/************ Large Devices ************************/
/* Large  devices (screens above Medium size)      */
.card{
  border:1px solid black; 
  min-height:200px;
  max-height:200px;  }


/************ Medium Devices ************************/
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .valign-wrapper {
    display: inline-block;}

    .card{
      border:1px solid black; 
      min-height:200px;
      max-height:200px;      }
    
} 

/************ Small Devices ************************/
@media only screen and (max-width: 414px) {
  

  .card{
    border:1px solid black;
    min-height:200px;
    max-height:200px;
    }
  
} 

